{
  :name "eion",
  :version "0.0.1",
  :description "File manager build on top of electron",
  :main "main.js",
  :keywords [
    "file"
    "manager"
    "electron"
  ]
  :dependencies {
    :execa "^0.5.0"
    :path-to-regexp "^1.6.0"
  }
  :author "YurySolovyov",
  :license "MIT",
  :repository {
    :type "git",
    :url "https://github.com/YurySolovyov/eion"
  }
}
