html
  height: 100%

body
  height: 100%

.panel
  background-color: rgba(0, 153, 204, 1)
  height: 100vh
  width: 50vw
  flex-direction: column;

.directory-item
  line-height: 24px
  width: 100%
  background-color: rgba(255, 255, 255, 0.1)
  cursor: default
  &:hover
    background-color: rgba(255, 255, 255, 0.25)
