html
  height: 100%

body
  height: 100%

.panel
  background-color: rgba(0, 153, 204, 1)
  height: 100vh
  width: 50vw
  flex-direction: column
  overflow-y: scroll
  overflow-x: hidden

.directory-item
  line-height: 24px
  background-color: rgba(255, 255, 255, 0.1)
  cursor: default
  user-select: none
  &:hover
    background-color: rgba(255, 255, 255, 0.25)
