@font-face {
    font-family: OpenSans;
    src: url('~open-sans-fontface/fonts/Regular/OpenSans-Regular.ttf');
}

main-bg= #e5e5e6

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  background-clip: content-box;
  border: 2px transparent solid;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: #aaa;
  border-color: #aaa;
  border-radius: 0;
}

html
  height: 100%

body
  height: 100%
  background-color: main-bg
  font-family: OpenSans;
  font-size: 16px

.panel
  height: 100vh
  width: 50vw
  flex-direction: column
  overflow-y: scroll
  overflow-x: hidden

.directory-item
  line-height: 24px
  cursor: default
  -webkit-user-select: none
  font-size: 0.875rem
  border-bottom: 1px rgba(0, 0, 0, 0.05)
  &:hover
    background-color: rgba(126, 127, 129, 0.1)
